.auth_title_container {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: hsl(var(--sidebar-background));
}

.auth_search_container {
  border-radius: 20px;
  background-color: hsl(var(--sidebar-background));
}