.register_form_comp {
  padding: 2em;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1.5em;
  width: 50%;
  box-shadow: 3px 3px 3px hsl(var(--sidebar-foreground));
  border-radius: 8px;
  background-color: hsl(var(--sidebar-background));
  /* margin: auto; */
}

.register_form {
  width: 100%;
  height: auto;
  flex-flow: column nowrap;
  align-self: center;
  align-items: center;
  display: flex;
}

.register_title {
  font-size: 2.5em;
}